form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: skyblue;
    color: white;
    height: 100%;
    text-align: center;
}
input{
    background-color: salmon;
    color: indigo;
    border: 2px solid  indigo;
    box-shadow: indigo 3px 3px 3px;
    
}

button{
    background-color: salmon;
    color:  (41, 23, 0);
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    box-shadow: indigo 3px 3px 3px;
    border-radius: 40px;;
}
form, p{
    color:salmon;
    font-size: 20px;

}
#output, #output1{ 
    background-color: salmon;
    color: white;
    font-size: 50px;
    border: 5px solid salmon;
    height: 100px;
    width: 150px;
    

}
#piss{ 
    color: red;
}
#maindiv{
    border: 5px solid pink;
    border-radius: 40px;
}

/* #grade1, #grade2{
    background-color: salmon;
    color: white;
    font-size: 50px;
    border: 5px solid salmon;
    height: 50px;
    width: 80px;
} */